@model Cosmos_Odyssey.Models.BookingViewModel
@{
    ViewData["Title"] = "Booking - From planet";
}

<form asp-action="ToPlanet" method="get">
    <table class="table" align="center" width="400">
        <tr>
            <td colspan="2">
                <h1 class="display-4">Traveling from</h1>
            </td>
        </tr>
        <tr>
            <td>Planet:</td>
            <td align="right">
                <span asp-validation-for="FromPlanetName" class="text-danger"></span>
                <select class="custom-select-sm" asp-for="FromPlanetName" asp-items="Model.FromPlanets">
                    <option value="">-</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td align="right">
                <input type="submit" value="Next" />
            </td>
        </tr>

    </table>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

